
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{box-sizing: border-box;}

:root{
    --cor-titulo:#4d4d4d;
    --cor-texto:#333;
    --cor-escura:#000;
    --cor-clara:#FFF;
    --cor-intermediaria:#ececec;
}

html{
    font-size: 16px;
}

body{
    color: var(--cor-texto);
    font-family: 'Noto Sans', 'Segoe UI', sans-serif;
    background-color: var(--cor-clara);
}

body, h1, h2, p, figure, nav ul{
    margin: 0;
    padding: 0;
}

img{max-width: 100%;}

a{ text-decoration: none;}

h1{ 
    font-family: Raleway;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5rem;
}

h2{
    font-family: Raleway;
    font-weight: bold;
    font-size: 1.1rem;
}

h1 a {
    color: var(--cor-clara);
    background-color: var(--cor-escura);
    border-radius: 3px;
    padding: 0.2rem 0.8rem ;
    margin-left: 1rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 a {
    color: var(--cor-escura);
    font-size: 1.2rem;
    /*background-color: burlywood;*/
    padding: 1.5rem;
    display: inline-block;
}

nav h2 a:hover, nav h2 a:focus, .links-menu a:hover, .links-menu a:focus{
    background-color: var(--cor-intermediaria);
}

/*Estilos para a lista ul contida em nav*/
.links-menu {
    list-style: none;
    /*Aqui faremos com que os links iniciem ocultos, receberá tratamento com JavaScript para modificar a funcionalidade para quando acionado o boão MENU*/
    display: none;
}


/*Estilos para os links contido na ul dentro da nav*/
.links-menu a {
    color: var(--cor-escura);
    font-weight: bold;
    display: flex;
    height: 50px;
    /*background-color: yellow;*/
    justify-content: center;
    align-items: center;
}

/*A seguinte regra será usada apenas quando o menu seletor estiver aberto*/

.links-menu.aberto{
    /* Ativando o flex fazemos o menu voltar a aparecer */
    display: flex;
    /* Com 'column' Fazemos com que fique posicionado um elemento sobre o outro */
    flex-direction: column;

    /* Ativando 'position:absolute' e ajustamos a posição final dos links usando propriedades de coordenadas*/
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--cor-clara);
}


/* Exercícios:
1) criar uma regra para formatar o destaque da seguinte forma:
-altura 500px
-Imagem de fundo
-Imagem de fundo deve ficar parada
-Alinhamento centralizado e usar 'column' para ficar um sobre o outro


2)Criar Css para formatar o h2 e o p contidos em 'destaque'. O textos devem ficar centralizados
(text-align) e com a var(cor clara)

*/

.destaque {
    height: 500px;
    background-image: url(/imagens/fundo-destaque.jpg);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.destaque h2, .destaque p {
    text-align: center;
    font-size: 1.2rem;
    color: var(--cor-clara);
}

.destaque h2{
    font-size: 4rem;
}